@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@media only screen and (min-width: 767px) {

    #divbleutopbox,
    #navbarbox {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        /* Assurez-vous que le z-index du divbleutopbox est supérieur à celui de navbarbox */
    }

    #navbarbox {
        z-index: 99;
        /* z-index inférieur pour navbarbox */
        margin-top: 85px;
    }

    /*DIV1*/
    #div1 {
        background-image: url(../photo/phototop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    #bluediv1 {
        background: rgba(56, 113, 193, 0.52);
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }

    #carrebleudiv1 {
        background: rgba(81, 173, 229, 0.81);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 500px;
        height: 400px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 9vh !important;
        margin-left: 200px;
        border-radius: 20px;
    }

    #h1carrebleudiv1 {
        color: #ffffff !important;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 45px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    #textcarrebleudiv1 {
        color: #FFF;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 75%;
    }

    .boutonJaunediv1 {
        width: 500px;
        height: 111px;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 35px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        margin-top: 25px !important;
        margin-left: 500px !important;
    }

    .boutonJaunediv1:hover {
        background: rgb(253, 202, 74);
    }

    /*DIV2*/

    .div2 {
        background-image: url(../photo/fondDiv2.jpg);
    }

    .greydiv2 {
        background: rgba(255, 255, 255, 0.651);
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .greydiv2>h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 75px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .greydiv2 p {
        color: #2C405A;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 75%;

    }

    .boutonJaunediv2 {
        width: 332px;
        height: 58px;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 35px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        margin-top: 25px !important;
        ;
    }

    .boutonJaunediv2:hover {
        background: rgb(253, 202, 74);
    }

    .boutonJaunediv2>p {
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /*DIV3*/

    .div3 {
        display: flex;
        flex-direction: row;
        position: relative;

    }

    .div3gauche {
        width: 50%;
        background: #3871C1;
        z-index: 1;
        padding-top: 5%;
    }

    .div3gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 50px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 7vh !important;
        width: 80%;
        margin: auto !important;
    }

    .div3gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px !important;
        margin-right: 50px;
        width: 65%;

    }

    .chiffrediv3gauche {
        margin-top: 50px;
    }

    .chiffrediv3gauche p {
        color: #ffffff;
        text-align: start;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 40%;
        margin-top: 20px;
    }

    .div3droite {
        width: 50%;

        z-index: 98;
        margin-top: 7vh !important;
    }

    .elementdiv3droite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .elementdiv3droite>h1 {
        color: #3871C1;
        text-align: center;
        font-family: PT Sans;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }


    .photoflex {
        margin-top: 20px;
    
    }

    .photoflex>img {
        width: 80%;
        border-radius: 20px;
        margin-left: 20%;

    }





    .boutonJaunediv3 {
        width: 450px;
        height: 58px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 25px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto !important;
        margin-top: 20px !important;
        ;
    }

    .boutonJaunediv3:hover {
        background: rgb(253, 202, 74);
    }

    /*DIV4*/
    .div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .div4 h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 75px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .div4 img {
        width: 128px;
        height: 128px;
        margin-bottom: 25px;
    }

    .div4 p {
        color: #3871C1;

        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /*DIV5*/
    .div5 {
        display: flex;
        flex-direction: row;
        padding: 50px;
        background-color: #3871C1;


    }

    .div5gauche {
        width: 40%;
        background-color: #3871C1;
        color: #FFF;
    }

    .div5gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 75px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 7vh !important;
    }

    .div5gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 65%;
    }


    .div5droite {
        width: 60%;
        background-color: #3871C1;
        color: #FFF;
        background-image: url(../logo/tuyau\(2\).png);
        background-repeat: no-repeat;
        background-size: cover;



    }

    .divformulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    label {
        margin-top: 20px !important;
        font-weight: bold;
        margin-bottom: 10px !important;
    }

    input {
        width: 350px;
    }

    #footerbox {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 765px) {

    #divbleutopbox,
    #navbarbox {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        /* Assurez-vous que le z-index du divbleutopbox est supérieur à celui de navbarbox */
    }

    #navbarbox {
        z-index: 99;
        /* z-index inférieur pour navbarbox */
        margin-top: 120px;
    }

    /*DIV1*/
    #div1 {
        background-image: url(../photo/phototop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

    }

    #bluediv1 {
        background: rgba(56, 113, 193, 0.52);
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #carrebleudiv1 {
        background: rgba(81, 173, 229, 0.81);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 90%;
        height: 400px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;




    }

    #h1carrebleudiv1 {
        color: #ffffff !important;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    #textcarrebleudiv1 {
        color: #FFF;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 75%;
    }

    .boutonJaunediv1 {
        width: 250px;
        height: 50px;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 20px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        margin-top: 40px !important;

    }

    .boutonJaunediv1:hover {
        background: rgb(253, 202, 74);
    }

    /*DIV2*/

    .div2 {
        background-image: url(../photo/fondDiv2.jpg);
    }

    .greydiv2 {
        background: rgba(255, 255, 255, 0.651);
   
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .greydiv2>h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .greydiv2 p {
        color: #2C405A;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 75%;

    }

    .boutonJaunediv2 {
        width: 332px;
        height: 58px;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 35px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        margin-top: 25px !important;
        ;
    }

    .boutonJaunediv2:hover {
        background: rgb(253, 202, 74);
    }

    .boutonJaunediv2>p {
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /*DIV3*/

    .div3 {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .div3gauche {
        padding-top: 2%;
        width: 100%;
        padding-bottom: 20px;
        background: #3871C1;
        z-index: 1;

    }

    .div3gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;

    }

    .div3gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 75%;

    }

    .chiffrediv3gauche {
        margin-top: 50px;
    }

    .chiffrediv3gauche p {
        color: #ffffff;
        text-align: start;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 40%;
        margin-top: 10px;
    }

    .div3droite {
        width: 100%;
        margin-top: 2%;
        z-index: 98;

    }

    .elementdiv3droite>h1 {

        color: #3871C1;
        text-align: center;
        font-family: PT Sans;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .elementdiv3droite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photoflex {

        margin-top: 20px;
        width: 90%;
    }

    .photoflex>img {
        width: 90vw;
        border-radius: 20px;
        margin: auto;
    }

    .margintopphoto {
        margin-top: 10px;
     }
    
        .boutonJaunediv3 {
            width: 90%;
            height: 58px;
            flex-shrink: 0; 
            border-radius: 10px;
            background: rgb(255, 184, 0);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: #FFF;
            font-weight: bold;
            font-size: 18px !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: auto !important;
            margin-top: 20px !important;
            ;
        }
    
        .boutonJaunediv3:hover {
            background: rgb(253, 202, 74);
        }

    /*DIV4*/
    .div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div4 h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .div4 img {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
    }

    .div4 p {
        color: #3871C1;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    /*DIV5*/
    .div5 {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #3871C1;


    }

    .div5gauche {
        width: 100%;
        background-color: #3871C1;
        color: #FFF;
    }

    .div5gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;

    }

    .div5gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 95%;
    }


    .div5droite {
        width: 100%;
        background-color: #3871C1;
        color: #FFF;

        background-repeat: no-repeat;
        background-size: cover;



    }

    .divformulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 20px !important;
    }

    label {
        margin-top: 20px !important;
        font-weight: bold;
        margin-bottom: 10px !important;
    }

    input {
        width: 350px;
    }

    #footerbox {
        margin-top: 50px;
    }
}