@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@media only screen and (min-width: 767px) {
      /*DIV5*/
      .div5 {
        display: flex;
        flex-direction: row;
        padding: 50px;
        background-color: #3871C1;


    }

    .div5gauche {
        width: 40%;
        background-color: #3871C1;
        color: #FFF;
    }

    .div5gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 75px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 7vh !important;
    }
    
    .div5gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 65%;
    }
    
    
    .div5droite {
        width: 60%;
        background-color: #3871C1;
        color: #FFF;
        background-image: url(../logo/tuyau\(2\).png);
        background-repeat: no-repeat;
        background-size: cover;



    }
    .divformulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px !important;
    }

    .div5deuxhaut {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .email{
        margin-left: 25px;
    }

    label {
        margin-top: 20px !important;
        font-weight: bold;
        margin-bottom: 10px !important;
    }

    input {
        width: 350px;
        height: 50px;
    }

    #footerbox {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 765px) {
    /*DIV5*/
    .div5 {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #3871C1;


    }

    .div5gauche {
        width: 100%;
        background-color: #3871C1;
        color: #FFF;
    }

    .div5gauche>h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;

    }
    
    .div5gauche>p {
        color: #ffffff;
        text-align: center;
        margin: auto !important;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 95%;
    }
    
    
    .div5droite {
        width: 100%;
        background-color: #3871C1;
        color: #FFF;

        background-repeat: no-repeat;
        background-size: cover;



    }
    .divformulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-bottom: 20px !important;
    }

    label {
        margin-top: 20px !important;
        font-weight: bold;
        margin-bottom: 10px !important;
    }

    input {
        width: 350px;
    }

    #footerbox {
        margin-top: 50px;
    }
}