@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@media only screen and (min-width: 767px) {
    .divbleu {
        background-color: rgba(56, 113, 193, 1);
        height: 85px;
    }

    .information {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
        padding-top: 10px;
        font-family: 'PT Sans', sans-serif!important;        
        font-size: 20px;
        font-weight: 700!important;
  
    }

    #logotelephone {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 765px) {
    .divbleu {
        background-color: rgba(56, 113, 193, 1);
        height: 85px;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
        padding-top: 10px;
        font-family: 'PT Sans', sans-serif!important;        
        font-size: 20px;
        font-weight: 700!important;
  
    }

    #logotelephone {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
}