footer h1 {
    color: #3871C1!important;
    text-align: center;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 20px !important;
    font-weight: 900 !important;
    line-height: normal;
    margin-top: 20px !important;
}