@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@media only screen and (min-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.navbar { 
    width: 100%;



}
.logonav {
    width: 125px; max-height: auto; margin-left: 20px;
}

.navbar-nav { 
    margin-left: auto; 
    margin-right: 5%;
} 

.nav-item{
    margin-left: 50px !important;
}


.textnavbar {
        font-family: 'PT Sans', sans-serif!important;        

    font-size: 25px;
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textnavbar2 {
    color: #FFF;
        font-family: 'PT Sans', sans-serif!important;        
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactnavbar {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    background: rgb(255, 184, 0 );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto!important;
    margin-left: 50px !important;
}

.contactnavbar:hover {

    background: rgb(253, 202, 74);

}

.contactnavbar p {
    margin: auto!important;
}
.itemcontact {
 margin-top: 0px!important;
}

a {
    text-decoration: none !important;
    color: white !important;
}
.dropdown-item {
    background-color: white!important;
}

ul {
    border: white!important;
}
}

@media only screen and (max-width: 765px) {
    ul {
        border: white!important;
    }
    .navbar { 
        width: 100vw;


    }

    .logonav {
        width: 75px; max-height: auto; margin-left: 20px;
    }
    
    
    .textnavbar {
            font-family: 'PT Sans', sans-serif!important;        

        background-color: #ffffff;
        font-size: 20px;
        color: black;
        font-weight: 700;

    
    }
    
    .contactnavbar {
        width: 144px;
        height: 45px;
    
        border-radius: 20px;
        background: #23238E;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contactnavbar p {
        margin: auto!important;
    }
    
    
    a {
        text-decoration: none !important;
        color: white !important;
    }
}