@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@media only screen and (min-width: 767px) {
    #divbleutopbox,
    #navbarbox {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99; /* Assurez-vous que le z-index du divbleutopbox est supérieur à celui de navbarbox */
    }

    #navbarbox {
        z-index: 99; /* z-index inférieur pour navbarbox */
        margin-top: 85px;
    }
      /*DIV1*/
#div1 {
    background-image: url(../photo/phototop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

#bluediv1 {
    background: rgba(56, 113, 193, 0.52);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

#carrebleudiv1 {
    background: rgba(81, 173, 229, 0.81);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9vh !important;
    margin-left: 200px;
    border-radius: 20px;


}

#h1carrebleudiv1 {
    color: #ffffff !important;
    text-align: center;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 55px !important;
    font-weight: 900 !important;
    line-height: normal;
    margin-top: 20px !important;
}

#textcarrebleudiv1 {
    color: #FFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 75%;
}

.boutonJaunediv1 {
    width: 350px;
    height: 65px;
    border-radius: 10px;
    background: rgb(255, 184, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-weight: bold;
    font-size: 25px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto !important;
    margin-top: 50px !important;
    margin-left: 500px !important;
}

.boutonJaunediv1:hover {
    background: rgb(253, 202, 74);
}
    
    /*DIV4*/
    .div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-top: 2%;
    } 

    .div4 h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 75px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .div4 img {
        width: 20%;
margin-bottom: 25px;
    }

    .div4 p  {
        color: #3871C1;

        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }

   
    #footerbox {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 765px) {
    #divbleutopbox,
    #navbarbox {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99; /* Assurez-vous que le z-index du divbleutopbox est supérieur à celui de navbarbox */
    }

    #navbarbox {
        z-index: 99; /* z-index inférieur pour navbarbox */
        margin-top: 120px;
    }
    /*DIV1*/
    #div1 {
        background-image: url(../photo/phototop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

    }

    #bluediv1 {
        background: rgba(56, 113, 193, 0.52);
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #carrebleudiv1 {
        background: rgba(81, 173, 229, 0.81);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 90%;
        height: 400px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    #h1carrebleudiv1 {
        color: #ffffff !important;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    #textcarrebleudiv1 {
        color: #FFF;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .boutonJaunediv1 {
        width: 250px;
        height: 50px;
        border-radius: 10px;
        background: rgb(255, 184, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #FFF;
        font-weight: bold;
        font-size: 20px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto !important;
        margin-top: 40px !important;

    }

    .boutonJaunediv1:hover {
        background: rgb(253, 202, 74);
    }

 

    /*DIV4*/
    .div4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    .div4 h1 {
        color: #3871C1;
        text-align: center;
        font-family: 'PT Sans', sans-serif !important;
        font-size: 55px !important;
        font-weight: 900 !important;
        line-height: normal;
        margin-top: 20px !important;
    }

    .div4 img {
        width: 50px;
height: 50px; 
margin-bottom: 25px;
    }

    .div4 p  {
        color: #3871C1;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }

   
    #footerbox {
        margin-top: 50px;
    }
}